<center>
  <p> Nom : <%=@track.name%> </p>
  <br>
  <% if user_signed_in? %>
    <% if current_user.is_admin? == true %>
      <%= link_to "Modifier", edit_track_path(@track.id)%>
    <%end%>
  <%end%>
  <br>
  <%= link_to "Retour aux tracks", tracks_path%>
</center>
