<h5>Bienvenue ! </h5>
<p>Nous avons enregistré votre inscription a notre site avec l'adresse mail suivante: <#%=current_user.email%></p>
  <p>Va sur <%= @url %> pour échanger tes disques !</p>
  <p>Si vous n'etes pas a l'origine de cette inscription changez votre mots de passe et contactez notres support</p>
  <%= image_tag("Logo.png", heigth: "20vm")%>
