<h5>Bienvenue ! </h5>
<p>Vous vous êtes inscirt sur notre site DiscoTroc</p>
  <p>allez sur <%= @url %> pour échanger vos disques !</p>
  <p>Si vous n'etes pas a l'origine de cette inscription changez votre mots de passe et contactez notres support</p>
  <%= image_tag("logo.png", heigth: "20vm")%>
