   <head>
    <title>Discotroc - Nouveau format </title>
    <meta charset="UTF-8">
    <meta name="description" content="Discs Index">
    <meta name="keywords" content="music, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet"%>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <div class="text-center">
 <%= form_tag url_for(action: 'create'), method: "post" do %>

        <%= label_tag 'Nom' %>
        <%= text_field_tag 'name' %>

<%= submit_tag "Envoyer", class:"btn btn-info" %>

    <% end %> 
      </div>