 <center>
 <h3> Créer un Etat de Disque </h3>
 <%= link_to "Créer", new_disc_state_path%>
 <br>
  <h2> Index des états</h2>

<% @discs_state.each do |state| %>
<p> <%=state.name%></p>
<p> <%=state.coefficient%></p>
<%= link_to "Voir", disc_state_path(state.id)%>
<%end%>
</center>