 <center>
  <h3> Créer un Disque </h3>
  <%= link_to "Créer", new_disc_path%>
  <br>
  <h2> Index</h2>
  <br>
  <br>
</center>
<div class="container">
  <div class="row demo-tiles">
    <% @discs.each do |disc| %>
      <div class="col-3">
        <div class="tile bg-secondary">
          <br>
          <%  @search = @auth_wrapper.search(disc.title, type: :release)%>
           <%= image_tag @search.results.first.cover_image %>
          <br>
          <h3 class="tile-title text-primary"><%=disc.title%></h3>
          <br>
          <%= link_to "Voir", disc_path(disc.id), class: "btn btn-primary btn-large btn-block text-dark"%>
        </div>
      </div>
    <%end %>
  </div>
</div>
