 <center>
  <h3> Créer un Disque </h3>
  <%= link_to "Créer", new_disc_path%>
  <br>
  <h2> Index</h2>
  <br>
  <br>
</center>
<div class="container">
  <div class="row demo-tiles">
    <% @discs.each do |disc| %>
      <div class="col-3">
        <div class="tile">
          <%= image_tag "dj.svg"%>
          <br>
          <br>
          <br>
          <h3 class="tile-title"><%=disc.title%></h3>
          <%= link_to "Voir", disc_path(disc.id), class: "btn btn-primary btn-large btn-block"%>
        </div>
      </div>
    <%end %>
  </div>
</div>
