<div class="container text-center my-4">
  <% if user_signed_in? %>
    <h3> Créer un Disque </h3>
    <%= link_to "Créer", new_disc_path, class: "btn btn-secondary"%> <br>
    <br>
  <% end %>
  <h2> Index</h2>
  <br>
  <br>
</div>
<div class="container">
  <div class="row demo-tiles">
    <% @discs.each do |disc| %>
      <div class="col-3">
        <div class="tile bg-secondary">
          <br>
          <% if disc.cover_picture != nil %>
            <%= image_tag disc.cover_picture %>
          <% else %>
            <p>Pas de cover pour ce disque.</p>
          <% end %>
          <br>
          <h3 class="tile-title text-primary"><%=disc.title%></h3>
          <br>
          <%= link_to "Voir", disc_path(disc.id), class: "btn btn-primary btn-large btn-block text-dark"%>
        </div>
      </div>
    <%end %>
  </div>
</div>
