<p>Bienvenue <%= @email %>!</p>
<br>
<p>Tu peux activer ton compte en cliquant sur le lien ci-dessous :</p>
<br>
<p><%= link_to 'Activer mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>
