<p>Salut <%= @email %>!</p>
<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous te contactons pour te préciser que ton email a bien été modifié en <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous te contactons pour te préciser que ton email a bien été modifié en <%= @resource.email %>.</p>
<% end %>
