<p>Salut <%= @resource.email %>!</p>
<br>
<p>Quelqu'un a demandé un lien pour modifier ton mot de passe. Tu peux le faire en cliquant sur le lien ci-dessous.</p>
<br>
<p><%= link_to 'Modifier mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>
<br>
<p>Si vous n'êtes pas à l'origine de cette demande, ignorez ce message et ne vous inquiétez pas :</p>
<br>
<p>Vous seul êtes en possession du lien pour modifier votre mot de passe.</p>
