<footer class="sticky">
  <div class="container">
    <div class="row">
      <div class="col-7">
        <h3 class="footer-title">Discotroc</h3>
        <p>© 2020 Discotroc®
        </p>
        <p class="pvl">
          <i class="fab fa-twitter fa-2x pr-4"></i>
          <i class="fab fa-facebook fa-2x pr-4"></i>
          <i class="fab fa-google-plus-g fa-2x"></i>
        </p>
      </div>
       <!-- /col-7 -->
      <div class="col-5">
        <div class="footer-banner bg-">
          <h3 class="footer-title">More about us</h3>
          <ul>
            <li>L' équipe</li>
            <li>Le projet</li>
            <li>Nous contacter</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->
